html, body {
    margin: 0;
    padding: 0.1;
  }
  canvas {
    display: block;
  }

  .ml {
    margin-left: 10px;
  }

  .descrip2 {
    background-color: lightblue;
    text-align: left;
    color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 70%;
  }
  
  .txt4[kleur="donker"] {
    color: black ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  
  .txt4[kleur="licht"] {
    color: black ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:normal ;
  }

  .txt {
    color: black ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.txt1 {
  color: black ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.txt1[enabled="disabled"] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: red;
  background-color: black;
}


.txt1[enabled="enabled"] {
  color: white ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
}


.txt3 {
  color: black ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
}

.txt3[disabled=True] {
  color: gray ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 100;
  background-color: white;
}

.txt2[enabled="disabled"] {
  color: gray ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  background-color: black;
}

.txt2[enabled="enabled"] {
  color: white ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  background-color: black;
}

.txt2 {
  color: black ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
